package login

import "github.com/CrazyCatViking/quiz-me/templates/layouts"

templ LoginPage() {
  @layout.Base() {
    <div>
      <h1>Login</h1>
      <form>
        <input type="text" placeholder="Username" />
        <input type="password" placeholder="Password" />
        <button>Login</button>
      </form>
    </div>
  } 
}
