package layout

import "github.com/CrazyCatViking/quiz-me/template/menu"
import "github.com/CrazyCatViking/quiz-me/template/base"

templ Root() {
  @base.Base() {
    @menu.TopMenu()
    
    { children... } 
  }
}
